{% load i18n %}
<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
  <ul class="list-input settings-list">
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="display_name">{% trans "Component Display Name" %}</label>
        <input class="input setting-input" name="display_name" id="display_name" value="{{ display_name }}" type="text" />
      </div>
      <span class="tip setting-help">{% trans "The name students see. This name appears in the course ribbon and as a header for the Open Classroom lesson." %}</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="openclassroomid">{% trans "Open Classroom Lesson ID" %}</label>
        <input class="input setting-input" name="openclassroomid" id="openclassroomid" value="{{ openclassroomid }}" type="text" />
      </div>
      <span class="tip setting-help">{% blocktrans with example="a1b2c3d4e5f6" %}Example: {{ example }}{% endblocktrans %}</span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="src">{% trans "Open Classroom Lessons Server URL" %}</label>
        <input class="input setting-input" name="src" id="src" value="{{ src }}" type="text" />
      </div>
      <span class="tip setting-help">{% blocktrans with url="https://lessons.openclassroom.edu.vn" %}Example: {{ url }}{% endblocktrans %}</span>
    </li>
  </ul>
  <div class="xblock-actions">
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
      </li>
      <li class="action-item">
        <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
      </li>
    </ul>
  </div>
</div>
